* {

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;

}

body {

min-height: 100vh;
background-color: black;
display: grid;
place-items: center;

}

.calculadora {

background-color: darkgrey;
color:white;
display: grid;
grid-template-columns: repeat(4, 1fr);
width: 300px;
max-width: 100%;
padding: 1.5rem;
border-radius: 1rem;
gap: .5rem;


}

.pantalla {

grid-column: 1 / 5;
text-align: right;
background: #4e4d4d; 
border-style: solid;
border-color: white;
padding: 10px;
font-size: 30px;
margin-bottom: 1.5rem;


}