* {

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;

}

body {

min-height: 100vh;
background-color: black;
display: grid;
place-items: center;

}

.calculadora {

background-color: rgb(11, 7, 238);
color:rgb(0, 0, 0);
display: grid;
grid-template-columns: repeat(4, 1fr);
width: 300px;
max-width: 100%;
padding: 1.5rem;
border-radius: 1rem;
gap: .5rem;


}

.pantalla {

grid-column: 1 / 5;
text-align: right;
background: #ffff; 
border-style: solid;
border-color: rgb(0, 0, 0);
border-radius: 10px;
padding: 10px;
font-size: 30px;
margin-bottom: 10px;
font-family: monospace;


}

.btn {

padding: 18px;
font-size: 15px;
background: #000000;
color: #ffffff;
border-style: solid;
border-color: black;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;

}